* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 2rem;
    list-style: none;
    background-color: deeppink;
}

li {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

li p {
    background-color: bisque;
 
}
